{% extends "base.twig" %}

{% block content %}
    <section data-scroll-section data-router-view="works">
        <section class="wrapper page-works__works-listing">
            {% for work in data.works %}
                <a href="{{ work.permalink }}" class="works-listing__work" data-index="{{ loop.index }}">
                    <h1 class="title">{{ work.post_title }}</h1>
                </a>
            {% endfor %}
        </section>

        <div class="page-works__side-title" data-scroll data-scroll-speed="3">
            <h1 class="title"><span>Works</span></h1>
        </div>

        <div class="page-works__images-container">
            {% for work in data.works %}
                <img src="{{ work.image.url }}" alt="{{ work.image.alt }}" data-index="{{ loop.index }}">
            {% endfor %}
        </div>

        <footer class="wrapper-small">
            {% block footer %}
                {% include "partial/footer.twig" %}
            {% endblock %}
        </footer>
    </section>
{% endblock %}